body{
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Resets */

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
}

input:focus
{
  outline:0;
}

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  overflow-x: hidden;
  padding: 0 16px;
  box-sizing: border-box;
}

.results{
  margin: 0 auto;
  padding: 16px;
}

.placeholder{
  margin: 10vh auto;
  text-align: center;
  color: #A9A1A1;
}

.summary{
  margin: 16px 0;
}

.hidden{
  display: none;
}

h1, h2 {
  margin: 8px 0 !important;
}

h1{
  font-family: freight-big-pro, serif;
  font-size: 3rem !important;
  font-weight: 300;
}

h2{
  font-size: 1.5rem;
  font-weight: 400;
  color: #A9A1A1;
}

h3{
  font-size: 1.25rem;
  font-weight: 500;
  margin:  0 auto;
  margin-bottom: 1rem;
}

h4{
  color: #7D7878;
  margin: 0px;
  font-weight: 400;
}

label{
  font-size: 1rem;
  display: block;
  margin: 8px 0;
  color: #7D7878;
  font-weight: 400;
  letter-spacing: .3px;
}

/* Header */
header{
  margin: 32px 0;
  text-align: center;
}

/* Form and Inputs */

form{
  background: white;
  border: 1px solid #DDDBDB;
  border-radius: 6px;
  padding: 16px;
  margin: 24px 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.125);
}

input{
  background: white;
  border: 1px solid #DDDBDB;
  padding: 8px;
  border-radius: 4px;
}

input:focus{
  border: 1px solid #282424;
}

#search{
  display: block;
}

#search > i {
  position: absolute;
  height: 24px;
  padding: 12px;
  color: #A9A1A1;
}

#search > input{
  width: 100%;
  padding-left: 40px;
  
}

#calories{
  display: block;
}

.calories{
  width: 128px;
}

#extras{
  display: none;
  padding: 8px 0;
}

#extras > div{
  margin-bottom: 16px;
}

#dietary{
  display: block;
  overflow: visible;
  width: 100%;
  padding: 0;
}

fieldset{
  border: 0;
  padding: 0.01em 0 0 0 !important;
  margin: 0;
  min-width: 0;
}

.inner{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.inner::-webkit-scrollbar {
  display: none;
}

fieldset .option{
  flex: 0 0 auto;
  margin: 0 16px 0 0;
  height: 100%;
}

.option > label {
  padding: 8px 0;
  cursor: pointer;
  font-weight: 500;
}

.option > label > span{
  padding: 8px 16px;
  background: #DDDBDB;
  border-radius: 16px;
}

.option > label > input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.option > label > input[type=checkbox]:checked + span {
  background: #282424;
  color: white;
}

/* Buttons and Links */

.buttons{
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.show{
  flex: 1;
  padding: 12px 0;
  margin: 0;
  visibility: visible;
  display: flex;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.show > span{
  margin-right: 8px;
}

.show:hover > span {
  text-decoration: underline;
}
.buttons p{
  margin: 0;
  margin-right: 4px;
}
.flip{
  transform: rotate(180deg);
}

.btn{
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid transparent;
  margin: 8px 0;
  font-size: 1.125rem;
  width: 100%;
}
.primary{
  background: #BA181B;
  color: white;
}
.secondary{
  background: #DDDBDB;
}
.btn:hover{
  cursor: pointer;
}
.primary:hover{
  background: #e5383b;
}
.secondary:hover{
  background: #7D7878;
  color: white;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* Cards */
.list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  width: 100%;
  row-gap: 16px;
  column-gap: 16px;
}
.recipe{
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #DDDBDB;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  align-content: space-between;
}

.recipe > .buttons {
  padding: 0 16px;
  box-sizing: border-box;
}

.recipe > .buttons > .btn{
  margin-left: 0;
}

.photo{
  height: 128px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.photo img{
  min-width: 100%;
}

.recipe-data{
  flex: 1;
  padding: 16px;
}

.view{
  color: #282424;
  opacity: 0;
}

.recipe:hover{
  cursor: pointer;
  border: 1px solid #BA181B;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.125);
}

/* Responsive */ 
@media screen and (min-width:640px) {
  .list{
    grid-template-columns: repeat(2, 1fr);
  }
  .buttons{
    flex-direction: row;
  }
  .btn{
    width: auto;
    margin: 0;
    margin-left: 16px;
  }

}

@media screen and (min-width:960px) {
  .container{
    max-width: 1280px;
  }
  .list{
    grid-template-columns: repeat(3, 1fr);
  }
}